
header,
nav,
main,
section,
footer {
  border: 1px solid black; /* Borde negro para ver las cajas /
  padding: 10px; / Espacio interno para que el contenido no toque el borde /
  margin-bottom: 15px; / Espacio entre las cajas */
}

  body {
    background-color: #4d0101d7;
      font-family: 'EB Garamond', serif;
      font-weight: 300;
      margin: 20px auto; 
        max-width: 1200px; 
        padding: 0 20px; 
    box-sizing: border-box;
      color: #cecece;

  }

  /* Titulos y lista */
h1, h2, h3, ul {
    font-family: monospace;
    font-weight: 300;
    color: #d4c1c1;
}

/* tipografia de los parrafos */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Footer */

footer {
	background: #1a1a1a;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center
}

.circular {
    border-radius: 30%;
    width: 300px; /* Define el ancho de la imagen */
    height: 300px; /* Define la altura de la imagen (debe ser igual al ancho para un círculo perfecto) */
    object-fit: cover; /* Recorta la imagen para que se ajuste al círculo sin deformarse */
}

.centrar-objecto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagen-al-final {
    float: right;
    margin-left: 10px; /* Espacio entre el texto y la imagen (opcional) */
    /* Opcional: Ajusta el ancho y la altura si es necesario */
    /* width: 50px;
    height: 50px; */
}

.imagen-al-inicio {
    float: left;
    margin-left: 10px; /* Espacio entre el texto y la imagen (opcional) */
    /* Opcional: Ajusta el ancho y la altura si es necesario */
    /* width: 50px;
    height: 50px; */
}

.colores-oscuros{
    background-color: rgba(77, 76, 76, 0.651);
    color: whitesmoke;
}

table {
    width: 80%;
    margin: 20px auto; /* Centra la tabla en la página */
    border-collapse: separate; /* Une los bordes de las celdas */
    border: 1px solid #cccccc96; /* Borde alrededor de la tabla */
}

th, td {
    border: 1px solid #ddd; /* Bordes internos de las celdas */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #aa2d2d; /* Color de fondo para las celdas de encabezado */
    font-weight: lighter;
}

tr:nth-child(even) {
    background-color: #830000; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #0a0a0a; /* Color de fondo al pasar el ratón por encima de una fila */
}

td a:hover {
    text-decoration: underline;
}
